<footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__list-item"><a href="#" class="footer__link">about us</a></li>
                <li class="footer__list-item"><a href="#" class="footer_src_link">support</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">blog</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">press</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">api</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">jobs</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">privacy</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">terms</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">directory</a></li>
                <li class="footer__list-item"><a href="#" class="footer__link">language</a></li>
                <li class="footer__list-item"><a href="/logout" class="footer__link">Log out</a></li>
            </ul>
        </nav>
        <span class="footer__copyright">© 2020 instagram@SDSLabs</span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>