 <nav class="navigation">
        <a href="/feed">
            <img src="/assets/images/navLogo.png" alt="logo" title="logo" class="navigation__logo" />
        </a>
        <div class="navigation__search-container">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="navigation__icons">
            <a href="/post" class="navigation__link">
                <i class="fa fa-camera"></i>
            </a>
            <a href="/trending" class="navigation__link">
                <i class="fa fa-line-chart"></i>
            </a>
            <a href="/explore" class="navigation__link">
                <i class="fa fa-compass"></i>
            </a>
            <a href="/followPost" class="navigation__link">
                <i class="fa fa-users"></i>
            </a>
            <a href="/profile?username=self" class="navigation__link">
                <i class="fa fa-user-o"></i>
            </a>
        </div>
    </nav>