<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Feed | Instaclone</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link href="/assets/css/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head> 
    <body>
    <center>
<form method="post" action="/post" name="f" enctype="multipart/form-data" ><bR><bR><bR>
<input type="file" name="img_file" id="img_file" /><bR><bR><bR>
<input type="text" name="caption" id="img_caption" placeholder="add caption" class="textInput"/><br><bR><bR>
<input type="submit" class="submit_button" value="Submit" name="s">
</form>
</center>
       <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>