{% include("templates/header.twig") %}

<body>
    <center>
        <form method="post" action="/post" name="f" enctype="multipart/form-data"><bR><bR><bR>
            <input type="file" name="img_file" id="img_file" required /><bR><bR><bR>
            <input type="text" name="caption" id="img_caption" placeholder="add caption" class="textInput"
                required /><br><bR><bR>
            <input type="submit" class="submit_button" value="Submit" name="s">
        </form>
    </center>
    {% include("templates/footer.twig") %}